<!DOCTYPE html>
<html>

<head>
    <title>Weather - About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weatherfavicon.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This web-app has been developed by following along with the Udemy course on node.js.</p>
        <img src="img/JBProfile.jpg" class="portrait">
    </div>
    {{>footer}}
</body>

</html>